
#imgRegister {
  background-image: url("https://image.freepik.com/foto-gratis/pincelada-gris-pared_23-2147746681.jpg");
  background-position: top;
  background-size: cover;
}

.ant-input{
  height: 35px !important;
}

.privacy-titles{
  color: #0B4870;
}

#register{
  margin-left: 200px;
  margin-right: 200px;
}
#imgRegister label{
  color: black;
}