* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_1280.jpg");
    background-position: 0 0;
    background-size: cover;
}

.container {
    width: 90%;
    height: 90%;
}

#primero {
    background: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 35px;
    opacity: 0.85;
    padding: 5% 5% 3% 5%;
}

.main-container {
    max-width: 1800px;
    max-height: 600px;
    margin: auto;
}

h1.titulo {
    color: white;
    text-align: center;
    font-size: 4.5vw;
    width: auto;
    height: auto;
    background: linear-gradient(180deg, #FEB916, #C86026);
    margin-top: 20px;
    margin-bottom: 25px;
}

h1#msg-final {
    font-size: 4vw;
    text-align: center;
    background: linear-gradient(yellow, red);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    transition: all .5s ease;
    transform: scale(0);
    margin: 2%;
}

.zoom-in {
    transform: scale(1) !important;
}

#btnreset {
    width: 40%;
    height: auto;
    background: #1D1D1D;
    color: white;
    padding: 1%;
    font-size: 0.8vw;
    text-shadow: 0px 0px;
    letter-spacing: 0.8px;
}

.seccion {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 200px;
}

.palabra {
    font-size: 2.5vw;
    text-align: center;
    color: #2165AD;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-row {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

h3 {
    font-size: 2vw;
    text-align: center;
}

h3 span {
    color: #22AFE3;
}

img.sman {
    position: absolute;
    top: 23%;
    left: 20%;
    width: 16%;
}

#image5, #image4, #image3,
#image2, #image1, #image0 {
    opacity: 0;
    transition: opacity .3s ease;
}

.fade-in {
    opacity: 1 !important;
}

.encuadre {
    border: 2px dashed #E18A1E;
    padding: 3px 2px 2px 6px;
}

button {
    float: right;
    border-radius: 5px;
    width: 10%;
    height: auto;
    font-size: 1.5vw;
    line-height: inherit;
    background: #10c8ff;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px #999;
}


.letra:disabled {
    color: rgb(104, 104, 104);
    text-shadow: 0px 0px;
}

.btn_invalido {
    color: rgb(104, 104, 104);
    text-shadow: 0px 0px;
}

#separador {
    height: 95px;
}

#acierto {
    font-size: 1vw;
}

.verde {
    color: lawngreen;
}

.rojo {
    color: orangered;
}

/*RULETA*/

#segundo {
    background-image: url("img/fondo_ruleta3.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: none;
    width: 58%;
    height: 90%;
    padding: 33px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

img#cancelar {
    position: absolute;
    width: 10%;
    height: auto;
    left: 85%;
}

.vara {
    height: 25%;
    width: 12px;
    background-color: #939393;
    margin: auto;
    position: relative;
    top: -18%;
    left: 0;
    right: 0;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}

#ruleta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 58%;
    height: auto;
    z-index: 100;
    transition: all 5s;
    border-radius: 100%;
    opacity: 0.85;
}

#notif {
    border-radius: 50px;
    color: #ffffff;
    text-shadow: 0 0 0.2em #ff2000;
    position: absolute;
    font-size: 1.4vw;
    font-weight: bold;
    padding: 5px;
}

@media only screen and (max-width: 585px) {
    #btnreset{
        width: 25%;
        font-size: 1vw;
    }
    #primero{
        padding-top: 25%;
    }
    img.sman{
        margin-top: -5%;
        width: 20%;
    }
    #segundo{
        width: 70%;
        height: 80%;
    }
    #ruleta{
        width: 75%;
    }
    #notif{
        font-size: 2vw;
    }
}